<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Diary</title>
    <style>
        th, td{
            padding: 10px 10px;
        }
    </style>
</head>
<body>
    <h1>Foods</h1>
    <table border ="1">
        <tr>
            <th>Food</th>
            <th>Calories</th>
        </tr>
        <% for(let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].name%></td>
                <td><%= data[i].calories%></td>
            </tr>
        <% } %>
    </table>
</body>
</html>