<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Diary</title>
    <style>
    </style>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/user/signup" method="POST">
        <label>First Name:</label><br>
        <input type="text" name="first_name"><br>
        <label>Last Name:</label><br>
        <input type="text" name="last_name"><br>
        <label>Email:</label><br>
        <input type="text" name="email"><br>
        <label>Password:</label><br>
        <input type="password" id="lname" name="password"><br>
        <button type="submit">Sign Up</button>
    </form> 
</body>
</html>